*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Logo{
    color: rgb(109, 72, 229);
    font-weight: bold;
}
.TheHead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0px 40px 0px 40px;
}
.Navigation{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.DivUL{
    display: flex;
    justify-content: center;
    align-items: center;
}
.UlList{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.ButtonSign{
    background-color: rgb(109, 72, 229);
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* TheMain */
.TheMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* HeroSection */
.HeroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HeroImage{
    width: 700px;
    height: 300px;
}
.DivTitleHero{
    text-align: center;
    margin-top: 10px;
}
.ParagraphHero{
    margin: 10px 0px 10px 0px;
}
.HeroButton{
    background: linear-gradient(209deg, rgba(109, 72, 229, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(222, 95, 131, 1) 9%, rgba(109, 72, 229, 1) 43%, rgba(99, 61, 221, 1) 100%, rgba(97, 59, 219, 1) 91%); ;
    border: none;
    width: 150px;
    height: 34px;
    border-radius: 5px;
    color: white;
    margin: 15px 0px 20px 0px;
    cursor: pointer;
}
.HeroButton:hover{
    background: #6D48E5;
    background: linear-gradient(259deg, rgba(109, 72, 229, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(222, 95, 131, 1) 43%, rgba(109, 72, 229, 1) 96%, rgba(99, 61, 221, 1) 100%, rgba(97, 59, 219, 1) 91%);
}
.LogosImages{
    padding-bottom: 7px;
}
/* secondsection  */
.Div1Second{
    display: flex;
    text-align: center;
}
.SecondSection{
    text-align: center;
    background-color: rgb(246, 246, 253);
    width: 98.8vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TitleSecond{
    margin: 10px 0px 20px 0px;
}
.IconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.TitleIcon{
    margin: 10px 0px 10px 0px;
}
.FatherIcon{
    margin-right: 40px;
}
.FatherIcon3{
    margin-left: 40px;
}
.Icon{
    font-size: 25px;
    color: rgb(110, 138, 164);
    background-color: rgb(236, 231, 254);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ThirdSection */
.ThirdSection{
    text-align: center;
}
.Title3{
    margin: 80px 0px 20px 0px;
}
.FirstDiv3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
.ParaDiv3{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 80px;
}
.ParaDiv3-2{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    margin-right: 80px;
}
.Titleh3{
    margin-bottom: 15px;
}
.Image3{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.LinkKnow{
    cursor: pointer;
    color: gray;
    border-bottom: 1px solid gray;
    margin-top: 15px;
}
/* FourthSection */
.FourthSection{
    background-color: rgb(109, 72, 229);
    text-align: center;
    color: white;
    width: 98.8vw;
}
.DivProzent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LinkProzent{
    color: white;
    border-bottom: 1px solid white;
}
.LinkProzent1{
    margin-top: 30px;
    margin-bottom: 80px;
}
.Title4{
    margin: 70px 0px 20px 0px;
}
.Prozent1{
    font-size: 60px;
    margin-top: 30px;
    margin-right: 80px;
}
.Prozent2{
    font-size: 60px;
    margin-top: 30px;
}
.Prozent3{
    font-size: 60px;
    margin-top: 30px;
    margin-left: 80px;
}
.ParaProzent1{
    margin-right: 80px;
    font-size: 14px;
}
.ParaProzent2{
    font-size: 14px;
}
.ParaProzent3{
    margin-left: 80px;
    font-size: 14px;
}
/* FifthSection */
.FifthSection{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding: 80px 0px 80px 0px;
}
.Div1-5{
    display: flex;
    margin-right: 100px;
}
.Icon5{
    margin-right: 10px;
}
.Paragraph5{
    margin: 10px 0px 20px 0px;
}
.Image5:hover{
    cursor: pointer;
    box-shadow: rgb(109, 72, 229, 0.4) -5px 5px, rgb(133, 80, 255, 0.3) -10px 10px, rgb(144, 80, 255, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
/* TheFooter */
.TheFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(246, 246, 253) ;
}
.ParaFooter{
    margin: 60px 0px 10px 0px;
    color: gray;
}
.FormEmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Inputemail{
    border: 1px solid rgb(109, 72, 229);
    padding: 10px;
    width: 320px;
    margin: 20px 0px 10px 0px;
    border-radius: 5px;
}
.ButtonEmail{
    border: none;
    background: linear-gradient(209deg, rgba(109, 72, 229, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(222, 95, 131, 1) 9%, rgba(109, 72, 229, 1) 43%, rgba(99, 61, 221, 1) 100%, rgba(97, 59, 219, 1) 91%); ;
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.ButtonEmail:hover{
    background: #6D48E5;
    background: linear-gradient(259deg, rgba(109, 72, 229, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(222, 95, 131, 1) 43%, rgba(109, 72, 229, 1) 96%, rgba(99, 61, 221, 1) 100%, rgba(97, 59, 219, 1) 91%);
}
.paragraphLast{
    font-size: 12px;
    color: gray;
    margin-top: 7px;
}
/* TheFooter2 */
.TheFooter2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 120px 0px 30px 0px;
}
.ParagraphCopy{
    margin-left: 200px;
    color: gray;
}
 .LinkSocial{
    color: gray;
 }